section {
  background-color: #eee;
  font-size: 3em;
  margin-top: 1px;
  padding: 0.5rem;
  text-align: right;

  header {
    color: #999;
    font-size: 0.5em;
    text-align: left;
    text-transform: lowercase;
  }

  ul {}
}