/*  Base Styles
 *  _base.scss
 */

html, body {
  font-family: 'SilentHell', sans-serif;
  font-size: $baseFontSize;
  height: 100%;
  width: 100%;
}

/* Headings */
h1, h2, h3 {}

header {}

/* Forms */
button {
  cursor: pointer;
}

/* Helper Classes */
.pull-right {
  display: block;
  float: right;
}