<section>
  <header>Infection Duration</header>
  {{infectionDuration}}
</section>
<section>
  <header>Status</header>
  {{status}}
</section>
<section>
  <header>Recently Fallen</header>
  <ul>
    {{#each recentlyFallen}}
      <li>
        {{name}}
        {{timeSince timeOfDeath}}
      </li>
    {{/each}}
  </ul>
</section>
