<button type="button" class="main-menu">
  <i class="fa fa-bars"></i>
  <img src="img/brand.png" alt="HvZ Logo">
</button>

<div class="pull-right">
  <button type="button" class="qr-code">
    <i class="fa fa-qrcode"></i>
  </button>
</div>
